# Configuración para la validación contra Active Directory de EAFIT
# Cambia a 'true' en el servidor de producción cuando se tenga la URL
USE_ACTIVE_DIRECTORY=false

# URL del servidor LDAP de la universidad (Ejemplo: ldap://ad.eafit.edu.co:389)
LDAP_URL=ldap://ad.eafit.edu.co:389
